<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="d-flex flex-column flex-sm-row">
          <div class="input-group mr-2">
            <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..." value="{{keyword}}"
              aria-describedby="search-button">
            <div class="input-group-append">
              <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
            </div>
          </div>
          <div class="input-group ml-2">
            <select name="sort" class="form-control" id="sort">
              <option>A > Z</option>
              <option>Z > A</option>
              <option>類別</option>
              <option>地區</option>
            </select>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}"
              alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>

            </div>
            <div class="card-footer text-muted">
              <div class="text-right">
                <a href="/restaurants/{{ this._id }}/edit"><button>Edit</button></a>
                <a href="/restaurants/{{ this._id }}"><button>Detail</button></a>
                <form action="/restaurants/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
                  <button class="btn-danger" type="submit">Delete</button>
                </form>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

